.help {
  padding: 3rem;

  .accent {
    @extend .accentMe;
    color: map-get($map: $mainPalette, $key: 'headlineTextLight') !important;
  }

  .text {
    color: map-get($map: $mainPalette, $key: 'regularText') !important;
  }

  &__additional {
    @extend .accentMe;
    color: map-get($map: $mainPalette, $key: 'regularText') !important;
  }
}
