.home {
  height: 100%;
  &__welcome {
    margin-top: 5rem;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  &__gridRow {
    display: block;
    width: 100%;
    text-align: center !important;
  }
  &__gridTitle {
    display: block !important;
    font-size: xx-large;
    margin: 1rem auto !important;
  }

  .userWorkspace {
    display: flex;
    flex-direction: column;
    height: 100%;

    &__userFeed {
      height: 100% !important;
    }

    .masterGrid {
      height: 100% !important;
    }

    .greetings {
      color: map-get($mainPalette, 'headlineTextLight') !important;
      padding: 2rem 0 !important;
    }
  }
}
