.navbar {
  &__menu {
    background-color: map-get($mainPallete, 'midground') !important;
  }

  &__menu__item {
    padding: 1rem 2rem !important;
    color: map-get($map: $mainPallete, $key: 'regularText') !important;
  }
}
