.post {
  padding: 2rem;
  justify-content: center;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 1rem;

  &__left {
    width: 70%;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: map-get($map: $mainPalette, $key: 'regularText');

    &__card {
      background: map-get($map: $mainPalette, $key: 'foreground') !important;
      border: 2px solid red;
      border-radius: 5px;

      &__image {
        max-width: 100%;
        max-height: 50vh !important;
        object-fit: contain;
      }

      &__date {
        opacity: 0.8;
        font-size: 1rem;
      }
    }

    &__extra {
      width: 100%;
      display: flex;
      flex-direction: row;
    }

    &__comments {
      display: flex;
      flex-direction: column;
    }
  }
}
