.verification {
  padding: 2rem;
  text-align: center;
  margin: auto;
  width: fit-content;

  &__extra {
    font-size: 1.2rem;
  }

  .accent {
    color: $accentColor;
  }

  &__btn {
    margin-top: 2rem !important;
  }
}
