@import './variables';
@import './config';

@import './routeStyles/navbar';
@import './routeStyles/home';
@import './routeStyles/settings';
@import './routeStyles/profile';
@import './routeStyles/inbox';
@import './routeStyles/projects';
@import './routeStyles/connect';
@import './routeStyles/post';
@import './routeStyles/help';
@import './routeStyles/verification';

@import './sharedStyles/imageController';
@import './sharedStyles/elementList';
@import './sharedStyles/postCard';
@import './sharedStyles/projectCard';
@import './sharedStyles/projectWorkspace';
@import './sharedStyles/postFormModal';
@import './sharedStyles/cropComponent';
@import './sharedStyles/notifications';

// TODO: structure this dude...
html {
  @include init;
}

body {
  @include init;
  background: fixed no-repeat map-get($mainPalette, 'background') !important;
  color: map-get($mainPalette, 'regularText');

  #root {
    @include full-height;
  }

  // app
  .appContainer {
    @include full-height;
    min-height: 98%;
    height: 98%;
    border-radius: 0.3215rem;

    &__innerContainer {
      @include full-height;
      min-height: 90% !important;
      height: 90% !important;
      background-color: map-get($mainPalette, 'midground');
      border-radius: 0.3215rem;
    }

    .accentText {
      color: $accentColor;
    }
  }

  /* because semantic ui has a rule to change colors of things when focused, got to override it manually */
  .ui.orange.button:focus,
  .ui.orange.buttons .button:focus {
    background-color: #f2711c;
  }

  .headline {
    color: map-get($mainPalette, 'headlineTextLight') !important;
  }

  .themeForm {
    input,
    textarea {
      @include form;
      color: map-get($map: $mainPalette, $key: 'regularText') !important;

      &::placeholder {
        color: opacity(
          map-get($map: $mainPalette, $key: 'regularText')
        ) !important;
        opacity: 1 !important; /* Firefox */
      }
    }
    label {
      color: map-get($map: $mainPalette, $key: 'regularText') !important;
    }
  }
}
