.elementList {
  &__innerContainer {
    @include hidden-scrollbar;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    height: 70vh;
    overflow: scroll;

    &__element:hover {
      color: map-get($map: $mainPallete, $key: 'accent') !important;
    }
  }
}
