.inboxFeed {
  // overflow: scroll;
  @include hidden-scrollbar;
  width: 100%;
  height: 74vh;
  padding: 1rem;
  font-size: 1.1rem;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;

  &__message {
    width: fit-content;
    max-width: 70%;
    background: $accentColor;
    padding: 0.3rem 1rem;
  }

  .receiver {
    // -> top-left top-right bottom-right bottom-left
    border-radius: 0.2rem 0.7rem 0.7rem 0.2rem;
    align-self: flex-start;
    background: map-get($map: $mainPalette, $key: 'receiver');
    text-align: left;
  }

  .sender {
    // -> top-left top-right bottom-right bottom-left
    border-radius: 0.7rem 0.2rem 0.2rem 0.7rem;
    align-self: flex-end;
    background: map-get($map: $mainPalette, $key: 'sender');
    text-align: right;
  }
}
