.projectCard {
  text-align: center;

  &__projectForm {
    color: map-get($map: $mainPallete, $key: 'regularText') !important;
  }

  &__card {
    background: map-get($map: $mainPallete, $key: 'background') !important;

    &__cardName {
      color: map-get($map: $mainPallete, $key: 'regularText') !important;
    }
  }
}
