.settings__avatar:hover {
  filter: brightness(0.5);
}

.settings__input {
  margin-top: 30px !important;
  text-align: center !important;
}

.settings__input input {
  text-align: center !important;
  margin: 0 !important;
}
