@import './variables';

body {
  background: linear-gradient(
    203deg,
    rgba(207, 22, 99, 0.35),
    rgba(151, 82, 80, 0.4),
    rgba(235, 137, 92, 0.5)
  );
}

.ui {
  .form {
    background: $background-form-color;
    padding: 1rem;
    border-radius: 0.5rem !important;
  }
  .tabular.menu .active.item {
    background-color: $background-form-color;
  }
  .ui.feed {
    .event {
      background: $background-form-color;
      margin-bottom: 0.5rem !important;
      padding: 0.5rem;
    }
  }
}
